[submodule "client"]
	path = client
	url = https://github.com/may54ther/rustdesk-client.git
[submodule "hbb-server"]
	path = hbb-server
	url = https://github.com/may54ther/rustdesk-server.git
[submodule "api-server"]
	path = api-server
	url = https://github.com/may54ther/rustdesk-api-server.git
